@model TranslatorDetailModel



<div class="row ">
    <div class="col-md-3">
        <img src="~/imagetranslator/@Model.Translator.ImageTranslator" class="img-fluid" alt="">

    </div>
        <div class="col-md-9">
            <h1 class="mb-3">@Model.Translator.Name</h1>

            <hr>
            <div class="attributes">
                <table style="width: 50%;">
                    <tr>
                        <td>
                        <div id="description_text">
                            @Html.Raw(Model.Translator.Description)
                        </div>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
</div>


