@model List<Translator>
<div class="list-group mt-4 ">
    @foreach (var translator in Model)
    {
        <a href="#" class="list-group-item list-group-item-action">@translator.Name</a>

    }
</div>