@model PublisherListViewModel

<div class="row">
    <div class="col-md-12">
        <h1 class="h3">Admin Publisher</h1>
        <hr>
        <a class="btn btn-primary btn-sm" href="/admin/publishers/create">Add Publishers</a>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <td style="width: 30px;">Id</td>
                    <td style="width: 100px;">Image</td>
                    <td>Name</td>
                 
                    <td style="width: 150px;"></td>



                </tr>
            </thead>
            <tbody>
                @if (Model.Publishers.Count > 0)
                {
                    @foreach (var item in Model.Publishers)
                    {
                        <tr>
                            <td>@item.PublisherId</td>
                            <td><img src="~/logo/@item.ImageLogo" width="100"></td>
                            <td>@item.Name</td>
                      
                            <td>
                                <a href="/admin/publishers/@item.PublisherId" class="btn btn-primary btn-sm mr-2">Edit</a>

                                <form action="/admin/deletepublisher" method="POST" style="display: inline;">
                                    <input type="hidden" name="publisherId" value="@item.PublisherId">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>


                            </td>
                        </tr>
                    }
                }
                else
                {
                    <div class="alert alert-warning">
                        <h3>Not find publisher!!</h3>
                    </div>

                }

            </tbody>

        </table>
    </div>


</div>