@model TranslatorListViewModel
<div class="row">
    <div class="col-md-12">
        <h1 class="h3">Admin Translator</h1>
        <hr>
        <a class="btn btn-primary btn-sm" href="/admin/translators/create">Add Translator</a>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <td style="width: 30px;">Id</td>
                    <td style="width: 100px;">Image</td>
                    <td>Name</td>
                   
                     <td style="width: 150px;"></td>


                </tr>
            </thead>
            <tbody>
                @if (Model.Translators.Count > 0)
                {
                    @foreach (var item in Model.Translators)
                    {
                        <tr>
                            <td>@item.TranslatorId</td>
                            <td><img src="~/ImageTranslator/@item.ImageTranslator" width="100"></td>
                            <td>@item.Name</td>
                           
                         
                         
                            <td>
                                <a href="/admin/translators/@item.TranslatorId" class="btn btn-primary btn-sm mr-2">Edit</a>

                                <form action="/admin/deletetranslator" method="POST" style="display: inline;">
                                    <input type="hidden" name="translatorId" value="@item.TranslatorId">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>


                            </td>
                        </tr>
                    }
                }
                else
                {
                    <div class="alert alert-warning">
                        <h3>Not find translator!!</h3>
                    </div>

                }

            </tbody>

        </table>
    </div>


</div>